ol {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
    text-align: left;
}

li {
    padding: 8px;
    cursor: pointer;
}

li:nth-child(even) {
    background-color: lightblue;
}