body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: inline;
}

main {
    max-width: 1020px;
    margin: 15px auto;
}

main article {
    padding: 20px 15px;
}

.wScreen {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.137);
}

.wScreen>img {
    width: 100%;
    height: 10.625em;
    object-fit: cover;
    object-position: bottom;
}

meal-detail,
item-recommend {
    padding: 20px;
}

@media screen and (max-width:450px) {
    .wScreen>img {
        height: 100px;
    }

    main {
        width: 100%;
        margin: 10px 0;
    }

    h2 {
        padding-left: 10px;
    }

    meal-detail,
    item-recommend {
        padding: 5px;
        margin: 0;
    }

}